<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.w3.org/1999/xhtml">
<head>
  <meta charset="UTF-8">
  <title>Classes Details</title>
</head>
<body>

<nav>
  <ul>
    <li>
      <a href="/trainerPage">Home</a>
    </li>
    <li>
      <a href="/trainerPage/trainerProfile">My Profile</a>
    </li>
    <li>
      <a href="/trainerPage/trainerClasses">My Classes</a>
    </li>
  </ul>
</nav>

<h1>Class Details</h1>

<div th:if="${classDetails != null}">
  <p><span th:text="${classDetails.id}" hidden="hidden"></span></p>
  <p><strong>Schedule:</strong> <span th:text="${classDetails.schedule}"></span></p>
  <p><strong>Description:</strong> <span th:text="${classDetails.description}"></span></p>
  <p><strong>Class Name:</strong> <span th:text="${classDetails.className}"></span></p>

  <h2>Enrolled Players</h2>
  <ul>
    <li th:each="enrollment : ${enrolledPlayers}">
      <p><strong></strong> <span th:text="${enrollment.player.id}" hidden="hidden"></span></p>
      <p><strong>Player Name:</strong> <span th:text="${enrollment.player.user.fullName}"></span></p>
      <!-- Add a "Send" button with a link to the sendMessageToUser endpoint -->
      <a th:href="@{/trainerPage/allplayersenrollment/{id}(id=${enrollment.player.user.id})}" class="btn btn-primary">Send</a>
    </li>
  </ul>

</div>

<div th:unless="${classDetails != null}">
  <p>Class not found or invalid ID.</p>
</div>
</body>
</html>