<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Trainer Dashboard</title>
</head>
<body>

<nav>
    <ul>
        <li>
            <a href="/trainerPage">Home</a>
        </li>
        <li>
            <a href="/trainerPage/trainerProfile">My Profile</a>
        </li>
        <li>
            <a href="/trainerPage/trainerClasses">My Classes</a>
        </li>
    </ul>
</nav>

<h1>Welcome to the Trainer Dashboard</h1>
<p>This is the trainer's dashboard. You can access trainer-specific features and manage training sessions here.</p>
<a href="/logout">Log Out</a>
<br>
<a href="/trainerPage/trainerProfile">My Profile</a>
</body>
</html>
