<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
  <title>Player Notifications</title>
</head>
<body>
<h1>Notifications</h1>

<table>
  <thead>
  <tr>
    <th>Sender</th>
    <th>Message</th>
    <th>Timestamp</th>
  </tr>
  </thead>
  <tbody>
  <tr th:each="notification : ${notifications}">
    <td th:text="${notification.sender.fullName}"></td>
    <td th:text="${notification.message}"></td>
    <td th:text="${#temporals.format(notification.timeStamp, 'yyyy-MM-dd')}"></td>
  </tr>
  </tbody>
</table>
</body>
</html>
