<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.w3.org/1999/xhtml">
<head>
    <meta charset="UTF-8">
    <title>Player Dashboard</title>
</head>
<body>
<a th:href="@{/playerPage/playerInfo}">Player Information</a>
<a th:href="@{/playerPage/enrollments}">enrollment Information</a>
<a th:href="@{/playerPage/notifications}">notifications</a>
<h1>Welcome to the Player Dashboard</h1>
<p>This is the player's dashboard. You can view player-specific information and perform player-related tasks here.</p>
<a href="/logout">Log Out</a>
</body>
</html>
