<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.w3.org/1999/xhtml">
<head>
    <meta charset="UTF-8">
    <title>Packages</title>
</head>
<body>

<nav>
    <ul>
        <li>
            <a href="/">Home</a>
        </li>
        <li>
            <a href="/homeTrainers">Trainers</a>
        </li>
        <li>
            <a href="/homePackages">Packages</a>
        </li>
        <li>
            <a href="/homeClasses">Classes</a>
        </li>
    </ul>
</nav>

<h1>Packages</h1>

<ul th:each="package : ${packages}">
    <li><strong>Package Name: </strong><span th:text="${package.packageName}"></span></li>
    <li><strong>Description: </strong><span th:text="${package.description}"></span></li>
    <li><strong>Price: </strong><span th:text="${package.price}"></span></li>
</ul>
</body>
</html>