<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Add Player To Class</title>
    <link rel="stylesheet" type="text/css" href="/Css/admin/addPlayerToClass.css">

    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Oswald:wght@300&display=swap" rel="stylesheet">

</head>
<body>

<div class="center-container">
    <div class="form-container">
        <h1>Add Player To Class</h1>
        <form th:action="@{/adminPage/addPlayerToClass}" method="post">

            <div class="form-group">
                    <label for="playerId">Select Player:</label>
                    <input type="text" id="playerId" name="playerId" list="playerList" required>
                    <datalist id="playerList">
                        <th:block th:each="player : ${players}">
                            <option th:value="${player.id}" th:text="${player.user.username + ' - ' + player.user.phoneNumber}"></option>
                        </th:block>
                    </datalist>
            </div>

            <div class="form-group">
                <label for="classId">Select Class:</label>
                    <input type="text" id="classId" name="classId" list="classList" required>
                    <datalist id="classList">
                        <th:block th:each="class : ${classes}">
                            <option th:value="${class.id}" th:text="${class.className}"></option>
                        </th:block>
                    </datalist>
            </div>

            <div class="form-group">
                <input type="submit" value="Add">
            </div>
        </form>
    </div>
</div>

</body>
</html>
