<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Add Player To Class</title>
    <link rel="stylesheet" type="text/css" href="/Css/admin/addPlayerToClass.css">
</head>
<body>
<h1>Add Player To Class</h1>
<form th:action="@{/adminPage/addPlayerToClass}" method="post">
    <label for="playerId">Select Player:</label>
    <input type="text" id="playerId" name="playerId" list="playerList" required>
    <datalist id="playerList">
        <!-- Add options dynamically using Thymeleaf -->
        <th:block th:each="player : ${players}">
            <option th:value="${player.id}" th:text="${player.user.username + ' - ' + player.user.phoneNumber}"></option>
        </th:block>
    </datalist><br>

    <label for="classId">Select Class:</label>
    <input type="text" id="classId" name="classId" list="classList" required>
    <datalist id="classList">
        <!-- Add options dynamically using Thymeleaf -->
        <th:block th:each="class : ${classes}">
            <option th:value="${class.id}" th:text="${class.className}"></option>
        </th:block>
    </datalist><br>

    <button type="submit">Enroll Player</button>
</form>
</body>
</html>
