<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Add Package</title>
    <link rel="stylesheet" type="text/css" href="/Css/admin/addPackage.css">
</head>
<body>
<h1>Add a New Package</h1>
<form action="/adminPage/addPackage" method="POST">
    <label for="packageName">Package Name:</label>
    <input type="text" id="packageName" name="packageName" required><br>

    <label for="price">Price:</label>
    <input type="number" id="price" name="price" required><br>

    <label for="duration">Duration (in months):</label>
    <input type="number" id="duration" name="duration" required><br> <!-- Add duration input -->

    <label for="description">Description:</label>
    <textarea id="description" name="description" rows="4" required></textarea><br>

    <input type="submit" value="Add Package">
</form>
</body>
</html>
