<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Admin Dashboard</title>
    <link rel="stylesheet" type="text/css" href="/Css/admin/adminPage.css">

    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Oswald:wght@300&display=swap" rel="stylesheet">

</head>
<body>

<nav class="navbar">
    <ul>
        <li><a href="/adminPage">Home</a></li>
        <li><a href="/logout">Log Out</a></li>
    </ul>
</nav>

<div class="container">
    <table class="table">
        <tr class="table-tr">
            <td colspan="3" class="table-td">
                <h1>Welcome to the Admin Dashboard</h1>
                <a href="/adminPage/adminProfile" class="profile">Your Profile</a>
                <a th:if="${#authorization.expression('hasAuthority(''SUPER_ADMIN'')')}" href="/adminPage/signupAdmin" class="profile">Add Admin</a>
            </td>
        </tr>
        <tr class="table-tr">
            <td class="table-td"> <a href="/adminPage/signupPlayer">Add Player</a> </td>
            <td class="table-td"> <a href="/adminPage/signupTrainer">Add Trainer</a> </td>
            <td class="table-td"> <a href="/adminPage/addPackage">Add Package</a> </td>
        </tr>
        <tr class="table-tr">
            <td class="table-td"> <a href="/adminPage/addClass">Add Class</a> </td>
            <td class="table-td"> <a href="/adminPage/addPlayerToClass">Add Player To Class</a> </td>
            <td class="table-td"> <a href="/adminPage/allClasses">All Class</a> </td>
        </tr>
        <tr class="table-tr">
            <td class="table-td"> <a href="/adminPage/allplayers">All Players</a> </td>
            <td class="table-td"> <a href="/adminPage/renewSubscription">Renew Subscription</a> </td>
            <td class="table-td"> <a href="/adminPage/updateAccountStatus">Update Account Status</a> </td>
        </tr>
    </table>
</div>
</body>
</html>
