<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <title>Manage Players</title>


    <link rel="stylesheet" type="text/css" href="/Css/admin/allPlayersAdmin.css">

    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Oswald:wght@300&display=swap" rel="stylesheet">

</head>
<body>

<nav class="navbar">
    <ul>
        <li><a href="/adminPage">Home</a></li>
        <li><a href="/logout">Log Out</a></li>
    </ul>
</nav>

<h1>Player Management</h1>

<form th:action="@{/adminPage/allplayers}" method="get">
    <input type="text" name="search" placeholder="Search by Username or Phone Number">
    <button type="submit">Search</button>
</form>

<div class="player-list-container">
    <table>
        <thead>
        <tr>
            <th>Name</th>
            <th>Email</th>
            <th>Phone Number</th>
            <th>Address</th>
            <th>Age</th>
            <th>Height</th>
            <th>Weight</th>
            <th>Image</th>
            <th>Start Date</th>
            <th>End Date</th>
        </tr>
        </thead>
        <tbody>
        <tr th:each="player : ${players}" >
            <td th:text="${player.user.fullName}"></td>
            <td th:text="${player.user.email}"></td>
            <td th:text="${player.user.phoneNumber}"></td>
            <td th:text="${player.address}"></td>
            <td th:text="${player.age}"></td>
            <td th:text="${player.height}"></td>
            <td th:text="${player.weight}"></td>
            <td th:text="${player.user.image}"></td>
            <td th:text="${player.start_date}"></td>
            <td th:text="${player.end_date}"></td>
            <td>
                <form th:action="@{/adminPage/allplayers/{id}(id=${player.user.id})}" method="get">
                    <button>Send</button>
                </form>
            </td>
        </tr>
        </tbody>
    </table>
</div>
</body>
</html>
