<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Class Details</title>

    <link rel="stylesheet" type="text/css" href="/Css/admin/classesDetails.css">

    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Oswald:wght@300&display=swap" rel="stylesheet">

</head>
<body>

<nav class="navbar">
    <ul>
        <li><a href="/adminPage">Home</a></li>
        <li><a href="/logout">Log Out</a></li>
        <a href="/adminPage/allClasses">Back to All Classes</a>
    </ul>
</nav>

<div class="container">
    <h1>Class Details</h1>
    <div th:object="${classEntity}" class="div-details">
        <p><strong>Class Name:</strong> <span th:text="*{className}"></span></p>
        <p><strong>Schedule:</strong> <span th:text="*{scheduleDescription}"></span></p>
        <p><strong>Description:</strong> <span th:text="*{description}"></span></p>
        <a th:href="@{/adminPage/editClassDetails/{id}(id=${classEntity.id})}" class="edit-button">Edit Class</a>
    </div>

    <h2>Enrolled Players:</h2>
    <ul class="ul-details">
        <li class="li-details" th:each="player : ${enrolledPlayers}">
            <span th:text="${player.user.fullName}"></span>
        </li>
    </ul>

</div>
</body>
</html>