<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>SignUp Admin</title>

    <link rel="stylesheet" type="text/css" href="/Css/admin/signupAdmin.css">

    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Oswald:wght@300&display=swap" rel="stylesheet">
</head>
<body>
<div class="center-container">
    <div class="form-container">
        <h1>Admin Registration</h1>
        <div th:if="${errors}">
            <div class="alert alert-danger">
                <p>Please correct the following errors:</p>
                <ul>
                    <li th:each="error : ${errors}">
                        <span th:text="${error.defaultMessage}"></span>
                    </li>
                </ul>
            </div>
        </div>
        <form action="/adminPage/signupAdmin" method="post">
            <div class="form-group">
                <label for="fullName">Full Name:</label>
                <input type="text" id="fullName" name="fullName" required>
            </div>

            <div class="form-group">
                <label for="username">Username:</label>
                <input type="text" id="username" name="username" required>
            </div>

            <div class="form-group">
                <label for="email">Email:</label>
                <input type="email" id="email" name="email" required>
            </div>

            <div class="form-group">
                <label for="phoneNumber">Phone Number:</label>
                <input type="text" id="phoneNumber" name="phoneNumber">
            </div>

            <div class="form-group">
                <label for="password">Password:</label>
                <input type="password" id="password" name="password" required>
            </div>

            <div class="form-group">
                <input type="submit" value="Register">
            </div>
        </form>
    </div>
</div>
</body>
</html>
