<!DOCTYPE html>
<html xmlns:th="http://www.w3.org/1999/xhtml">
<head>
    <title>Login</title>
</head>
<body>
<section class="wrapper">
    <div class="form login">
        <header>Login</header>
        <form action="/login" method="post">
            <input type="text" name="username" placeholder="Username">
            <input type="password" name="password" placeholder="Password">
            <input type="submit" value="Login">

            <input type="hidden" name="successHandler" value="customAuthenticationSuccessHandler">
        </form>

        <p class="signup-text">don't have an account ?  <a href="/signup" class="creative-button">Sign Up</a></p>
    </div>
</section>
</body>
</html>
