<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title></title>
</head>
<body>
<section class="wrapper">
    <div class="form login">
        <header>Login</header>
        <form action="/perform_login" method="POST">
            <input type="text" name="username" placeholder="Username" required />
            <input type="password" placeholder="Password" name="password" required />
            <input type="submit" value="Login" />
        </form><br>
        <p class="signup-text">don't have an account ?  <a href="/signup" class="creative-button">Sign Up</a></p>
    </div>
</section>
</body>
</html>