<!DOCTYPE html>
<html xmlns:th="http://www.w3.org/1999/xhtml">
<head>
    <title>Test Players Endpoint</title>
</head>
<body>
<h1>Test Players Endpoint</h1>

<!--<table th:if="${players != null}">-->
<!--    <thead>-->
<!--    <tr>-->
<!--        <th>ID</th>-->
<!--        <th>Name</th>-->
<!--        <th>Email</th>-->
<!--    </tr>-->
<!--    </thead>-->
<!--    <tbody>-->
<!--    <th:block th:each="player : ${players}">-->
<!--        <tr>-->
<!--            <td th:text="${player.id}"></td>-->
<!--            <td th:text="${player.name}"></td>-->
<!--            <td th:text="${player.email}"></td>-->
<!--        </tr>-->
<!--    </th:block>-->
<!--    </tbody>-->
<!--</table>-->

<!--<th:block th:else>-->
<!--    No players found.-->
<!--</th:block>-->
</body>
</html>
