body {
    font-family: 'Oswald', sans-serif;
    align-items: center;
    justify-content: center;
    height: 100vh;
    margin: 0;
    background-color: #DBDBDB;

}

.navbar {
    text-shadow: 6px 6px 8px rgba(0, 0, 0, 0.9);
    background-color: #333;
    overflow: hidden;
    text-align: center;
}

.navbar ul {
    list-style-type: none;
    overflow: hidden;
    display: inline-block;
    margin: 0;
    padding-inline-start: 0;
}

.navbar li {
    display: inline;
    text-decoration: none;
}

.navbar a {
    display: inline-block;
    color: white;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
    border-radius: 0;
}

.navbar a:not(:last-child) {
    margin-right: 10px;
}

.navbar a:hover {
    background-color: rgba(207, 117, 0, 0.7);
    border-radius: 10px;
}

a {
    text-decoration: none;
    padding: 10px 20px;
    color: #fff;
    border-radius: 5px;
    transition: background-color 0.5s ease;
    margin: 10px;
    display: inline-block;
    font-weight: bold;
}

.container {
    width: 800px;
    max-width: 100%;
    margin: 0 auto;
    margin-top: 20px;
    padding: 20px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.8);
    border-radius: 8px;
    background-color: #fff;
    display: flex;
    flex-direction: column;
    align-items: center;
}

h1, h2 {
    text-align: center;
}

.ul-details ul {
    max-height: 200px;
    overflow-y: auto;
}

.edit-button a {
    display: block;
    text-align: center;
    margin-top: 20px;
    text-decoration: none;
    color: #3498db;
}

.edit-button a:hover {
    text-decoration: underline;
}

.div-details{
margin-bottom: -10px;
}
